body {
            background-color: rgb(238, 234, 226);
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
            background-color: blue;
            width: 400px;
            margin: auto;
            margin-bottom: 20px;
            color: red;
            box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
        }

        h2 {
            color: blue;
            margin-top: 40px;
        }

        img {
            margin: 10px 50px;
            width: 150px;
        }

        .resalta {
            color: cyan;
        }

        .parrafo {
            margin: 20px;
            text-align: justify;
        }

        div {
            text-align: center;
        }